.ftpconfig
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/ew_backup/
wp-content/themes/twentytwenty
wp-content/themes/index.php
wp-includes/
wp-admin/
info/
xmlrpc.php
# photo copies from watermark plugin
wp-content/ew-backup
wp-content/ai1wm-backups/
wp-includes/
.htaccess
config
description
favicon.gif
favicon.ico
google7ebb64ab9effee9c.html
license.txt
readme.html
wp-activate.php
wp-comments-post.php
wp-config-sample.php
wp-content/index.php
wp-content/plugins/
wp-cron.php
wp-links-opml.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
index.php
wp-blog-header.php
wp-load.php
wp-content/themes/photograph/
wp-content/themes/photo-child/assets/
.ftpquota
.htaccess.bk
403.shtml
404.shtml
robots.txt
wp-content/themes/photo-fusion/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentytwo/
wheel/
