/*
Theme Name:Photo Child
Theme URI: https://folkphotography.com
Author: Zachary Folk
Author URI: https://folkphotography.com
Template: photograph
Description: Child theme of Photograph created by https://themefreesia.com/photograph
Version: 1.0.7
Text Domain: photograph
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html

Tags: threaded-comments, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, flexible-header, post-formats, sticky-post, theme-options, translation-ready, photography, blog, portfolio

All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)
==================================================
*/

body { background: url('assets/images/tiles/so-white.png')  repeat 0 0;}

.main-nav-wrap {
	background: #e0e0e0;
	width: 100%;
}
.main-navigation {
	max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}
.home-link {
	float: left;
}
ul.nav-menu {
	width: 60%;
text-align: right;
float: right;
}
ul.nav-menu li {
display: inline-block;
margin-left: 20px;}
/* OVERRIDE */
/* .wrap, #main, #primary {max-width: 100%; width: 100%;} */
#photos_page.wrap, #photos_page #main, #photos_page #primary {max-width: 100%; width: 100%;}
.blog .page-header,
.archive .page-header {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}


#photos_page .page-header, .blog .page-header, .archive .page-header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
}
#content {
  padding: 0
}

@media only screen and (max-width: 767px) {
  #content {
    padding-top: 0 !important;
    /* todo : clean up parent files */
  }
}

#primary, #secondary {
  margin-bottom: 0 !important;
}

#secondary {
  border: 0;
  padding-left: 10px;
}

#colophon {
  margin-top: 50px;
}
body.single-post #primary {
	margin: 0 5%;
	width: 90%;
	padding: 0;
}
body.single-post #primary article.post {
	display: block;
}
.previous-post, .next-post {
	font-size: 10vw;
	line-height: 80vh;
	width: 20%;
	position: absolute;
	padding: 0 5%;
	-webkit-text-stroke: 1px #fff;
}

.previous-post {
	text-align: left;
	left: 0;
}
.next-post {
    right: 0;
    text-align: right;
}
a:link[rel="prev"],a:link[rel="next"]
{
	text-decoration: none;
	transition:opacity 0.8s;
	opacity: 5%;
}
a:hover[rel="prev"],a:hover[rel="next"]
{
	font-weight: normal;
	transition:opacity 0.5s;
	opacity: 55%;
}
a[rel="next"]:link{

}
.main-post-image a{
	display: grid;
	outline: none;
    height: 100%;
}
.main-post-image img {
	cursor: zoom-in;
max-width: 100%;
max-height: 80vh;
margin: auto;

}

.main-post-image img
{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.img-meta {
display: grid;
margin: 20px auto;
max-width: 382px;
text-align: right;
}
/* * {
  margin: 0;
  padding: 0;
}

.main-post-image {
  display: grid;
  height: 100%;
} */



.site-info .copyright {
  color: #000;
  font-size: 12px;
  line-height: 1.666;
  text-align: right;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  font-weight: 800;
  text-decoration: underline;
}

.custom-logo-link .custom-logo {
  height: 45px;
  margin: 12px 0;
}

.side-menu-wrap .custom-logo {
  background-color: transparent;
}

.page-overlay:before {
  background-color: #000000;
}

.side-menu:after {
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.20);
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: rotate(0deg);
}

#page {
  background-color: #ffffff;
}

.featured-gallery .featured-item {
  padding: 0;
  float: left;
}

.featured-gallery-content {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.filter-button ul li:hover, .filter-button ul li.active {
  color: #dde9ff;
}

.scroll-down span {
  border-left: 2px solid #2e2e2e;
  border-bottom: 2px solid #181818;
}

.show-fgt-hover .featured-item.has-post-thumbnail .featured-title, .show-fgt-hover .featured-item.has-post-thumbnail:hover .featured-title {
  font-size: 17px;
  line-height: 17px;
  top: 90%;
}

.featured-text-content .featured-title a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
}
.page-header h1 { display: inline-block;}
.tag-description {  margin: 0 0 0 5px; font-style: italic; float: left; width: 100%;}
.tag-description p { margin: 0;}
h1 {
  font-size: 23px;
}
h1,h2, p, .main-navigation a, .details-link, .previous-post, .next-post {
  font-family: "Special Elite", sans-serif;
}

.contact-template .contact-content {
	background: repeat url('./assets/images/tiles/5-dots.png');
}

.contact-template .contact-content .wrap {
    padding: 100px 0;
    width: 70%;
}
.post-featured-gallery:not(.no-posts-border) .post-featured-item .post-featured-gallery-wrap {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.20);
}
.post-featured-gallery:not(.no-posts-border) .post-featured-item:hover .post-featured-gallery-wrap {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.60);
}
