

/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 767px) {
 

 
  /* ***************
  *                *
  *    OVERIDE     *
  *                *
  *************** */

  .gallery-col-3 .featured-item,
  .gallery-col-4 .featured-item,
  .gallery-col-5 .featured-item,
  .post-gallery-col-3 .post-featured-item,
  .post-gallery-col-4 .post-featured-item,
  .post-gallery-col-5 .post-featured-item {
    width: 100% !important;
  }

  .header-social-block {
    top: 60%;
  }

  .featured-gallery-title {
    margin-top: 20px;
    margin-bottom: 0;
  }


  .show-fgt-hover .featured-item.has-post-thumbnail .featured-title {
    font-size: 16px;
    line-height: 23px;
  }

  .about-template .about-contant.has-post-thumbnail #primary {
    width: 70%;
    float: none;
    padding: 50px 0;
    margin: 0 auto;
  }

  #colophon .widget-area {
    margin: 0;
    display: block;
  }

  #colophon .widget_posts {
    margin-bottom: 20px;
  }

  .box-gallery .featured-gallery-content {
    width: 94%;
  }
}
